* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 5vh;
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    height: calc(5vh - 1em);
    width: auto;
    padding: 1em;
}

nav {
    padding: 1em;
}

nav ul {
    display: none;   
}

nav ul a {
    color: gray;
    text-decoration: none;
}

nav ul a:hover {
    color: orangered;
}

#meet a{
    color: black;
    text-decoration: none;
}

#banner {
    height: 60vh;
    background-image: url(./img/first-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1, #banner h3, #banner button {
    padding: 1.2em;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

#banner h1 {
    font-size: 3vw;
}

#banner button {
    color: white;
    border-radius: 4px;
    padding: 1em;
    background-color: orangered;
    margin-top: 1em;
}

#features {
    padding: 14vw;
    text-align: center;
}

#features h2 {
    margin-top: 60vh;
    font-size: xx-large;
}

#features section{
    display: flex;
    flex-direction: column;
   justify-content: center;
    /*align-items: center;*/
    margin: 2em 0;
} 

#features section img {
    width: 70%;
    height: auto;
    margin-top: 4em;
}

hr {
    color: grey;
    width: 90%;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 3vh;
}

footer h6 {
    font-size: medium;
}
footer p {
    color: gray;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0;
}

#social img{
    width: 32px;
    margin: 0 1em;
    border-radius: 100%;
    border: 1px solid lightgray;
    padding: 0.5em;
}

[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-0 {display:none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    #logo img {
        margin-left: 6vw;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 45vw;
        justify-content: space-between;
    }

    #burguer {
        display: none;
    }

    /* #features {
        padding-top: 4em;
    } */
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-0 {display:none;}
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

/* NAV --> MOBIL --> NO EXISTEIX
   NAV --> PC >> SI EXISTEIX */










































/*
*{
    margin:0;
    padding:0;
}

header{
    height: 5vh;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    height: calc(5vh - 1em);
    width: auto;
}

nav ul{
    display: none;
}

#banner{
    height: 60vh;
    background-image: url('../img/first-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner h1, #banner h3, #banner button{
    margin: 0.75em;
}

#banner button{
    color: white;
    border-radius: 4px;
    padding: 1em;
    background-color: orangered;
}

#features{
    padding: 15vw;
    text-align: center;
}

#features section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

#features img{
    width: 250px;
}

hr{
    color: gray;
    width: 90%;
    margin: auto;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0;
}

#social img{
    width: 32px;
    margin: 0 1em;
    border-radius: 100%;
    border: 1px solid lightgray;
    padding: 0.5em;
}

[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-0 {display:none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}
  
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
  
/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
} */